body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2560 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2561 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2562 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2563 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2564 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2565 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:44px;
}
#u2566 {
  position:absolute;
  left:2px;
  top:14px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2567 {
  position:absolute;
  left:0px;
  top:44px;
  width:750px;
  height:88px;
}
#u2568 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2569 {
  position:absolute;
  left:347px;
  top:72px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u2570 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2571 {
  position:absolute;
  left:678px;
  top:78px;
  width:53px;
  height:27px;
  font-size:24px;
}
#u2572 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u2573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2573 {
  position:absolute;
  left:22px;
  top:80px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2574 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:503px;
}
#u2575 {
  position:absolute;
  left:0px;
  top:832px;
  width:750px;
  height:502px;
  font-size:30px;
}
#u2576 {
  position:absolute;
  left:2px;
  top:233px;
  width:746px;
  word-wrap:break-word;
}
#u2577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:left;
}
#u2577 {
  position:absolute;
  left:26px;
  top:157px;
  width:705px;
  height:91px;
  font-size:24px;
  text-align:left;
}
#u2578 {
  position:absolute;
  left:2px;
  top:32px;
  width:701px;
  word-wrap:break-word;
}
#u2579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#949494;
}
#u2579 {
  position:absolute;
  left:30px;
  top:269px;
  width:199px;
  height:26px;
  font-size:22px;
  color:#949494;
}
#u2580 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u2581 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:57px;
}
#u2582 {
  position:absolute;
  left:18px;
  top:757px;
  width:63px;
  height:57px;
}
#u2583 {
  position:absolute;
  left:2px;
  top:20px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:57px;
}
#u2584 {
  position:absolute;
  left:111px;
  top:757px;
  width:63px;
  height:57px;
}
#u2585 {
  position:absolute;
  left:2px;
  top:20px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2586 {
  position:absolute;
  left:22px;
  top:731px;
  width:57px;
  height:16px;
}
#u2587 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2588 {
  position:absolute;
  left:129px;
  top:731px;
  width:29px;
  height:16px;
}
#u2589 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:58px;
}
#u2590 {
  position:absolute;
  left:203px;
  top:757px;
  width:62px;
  height:57px;
}
#u2591 {
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  word-wrap:break-word;
}
