body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2132 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:44px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:14px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2136 {
  position:absolute;
  left:0px;
  top:44px;
  width:750px;
  height:88px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2138 {
  position:absolute;
  left:347px;
  top:72px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2140 {
  position:absolute;
  left:678px;
  top:78px;
  width:53px;
  height:27px;
  font-size:24px;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2142 {
  position:absolute;
  left:22px;
  top:80px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2143 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:503px;
}
#u2144 {
  position:absolute;
  left:0px;
  top:832px;
  width:750px;
  height:502px;
  font-size:30px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:233px;
  width:746px;
  word-wrap:break-word;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:left;
}
#u2146 {
  position:absolute;
  left:26px;
  top:157px;
  width:705px;
  height:91px;
  font-size:24px;
  text-align:left;
}
#u2147 {
  position:absolute;
  left:2px;
  top:32px;
  width:701px;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#949494;
}
#u2148 {
  position:absolute;
  left:30px;
  top:269px;
  width:199px;
  height:26px;
  font-size:22px;
  color:#949494;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u2150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:57px;
}
#u2151 {
  position:absolute;
  left:26px;
  top:765px;
  width:63px;
  height:57px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:20px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:57px;
}
#u2153 {
  position:absolute;
  left:119px;
  top:765px;
  width:63px;
  height:57px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:20px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2155 {
  position:absolute;
  left:30px;
  top:739px;
  width:57px;
  height:16px;
}
#u2156 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2157 {
  position:absolute;
  left:137px;
  top:739px;
  width:29px;
  height:16px;
}
#u2158 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:58px;
}
#u2159 {
  position:absolute;
  left:211px;
  top:765px;
  width:62px;
  height:57px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  word-wrap:break-word;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2162 {
  position:absolute;
  left:25px;
  top:662px;
  width:701px;
  height:62px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:23px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2164 {
  position:absolute;
  left:47px;
  top:681px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2166 {
  position:absolute;
  left:187px;
  top:681px;
  width:80px;
  height:24px;
  font-size:20px;
}
#u2167 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2168 {
  position:absolute;
  left:659px;
  top:678px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2169 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
