body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2800 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2802 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2803 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:854px;
}
#u2804 {
  position:absolute;
  left:0px;
  top:180px;
  width:750px;
  height:854px;
}
#u2805 {
  position:absolute;
  left:2px;
  top:419px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2806 {
  position:absolute;
  left:0px;
  top:1236px;
  width:750px;
  height:98px;
}
#u2807 {
  position:absolute;
  left:2px;
  top:41px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u2808 {
  position:absolute;
  left:49px;
  top:1271px;
  width:53px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u2809 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u2810 {
  position:absolute;
  left:646px;
  top:1271px;
  width:53px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u2811 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
