body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2814 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2815 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2816 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:44px;
}
#u2817 {
  position:absolute;
  left:2px;
  top:14px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2818 {
  position:absolute;
  left:0px;
  top:44px;
  width:750px;
  height:88px;
}
#u2819 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:503px;
}
#u2820 {
  position:absolute;
  left:0px;
  top:832px;
  width:750px;
  height:502px;
  font-size:30px;
}
#u2821 {
  position:absolute;
  left:2px;
  top:233px;
  width:746px;
  word-wrap:break-word;
}
#u2822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2822 {
  position:absolute;
  left:79px;
  top:54px;
  width:535px;
  height:66px;
}
#u2823 {
  position:absolute;
  left:2px;
  top:25px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u2824 {
  position:absolute;
  left:111px;
  top:75px;
  width:111px;
  height:26px;
  font-size:22px;
}
#u2825 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#949494;
}
#u2826 {
  position:absolute;
  left:20px;
  top:150px;
  width:89px;
  height:26px;
  font-size:22px;
  color:#949494;
}
#u2827 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:2px;
}
#u2828 {
  position:absolute;
  left:20px;
  top:186px;
  width:703px;
  height:1px;
}
#u2829 {
  position:absolute;
  left:2px;
  top:-8px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2830 {
  position:absolute;
  left:20px;
  top:202px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u2831 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:2px;
}
#u2832 {
  position:absolute;
  left:20px;
  top:239px;
  width:703px;
  height:1px;
}
#u2833 {
  position:absolute;
  left:2px;
  top:-8px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2834 {
  position:absolute;
  left:693px;
  top:202px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2835 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2836 {
  position:absolute;
  left:235px;
  top:275px;
  width:250px;
  height:50px;
  font-size:18px;
}
#u2837 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u2838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2838 {
  position:absolute;
  left:23px;
  top:73px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2839 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u2840 {
  position:absolute;
  left:631px;
  top:54px;
  width:100px;
  height:66px;
  font-size:22px;
}
#u2841 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
